@model ProductViewModel

@{
    ViewData["Title"] = "Sezione Admin";
}

<div class="container">
    <h3 class="text-center mt-5">Modifica o elimina un prodotto</h3>


@if (Model.Products != null && Model.Products.Count > 0)
{
        <table>
            <thead>
                <tr>
                    <th>IMMAGINE</th>
                    <th>NOME</th>
                    <th>CATEGORIA</th>
                    <th>PREZZO</th>
                    <th>DESCRIZIONE</th>
                    <th>STOCK</th>
                    <th class="d-flex justify-content-center align-items-center"><a asp-controller="Admin" asp-action="AddProduct"><i class="bi bi-plus-circle"></i></a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td><img src="@product.URLImmagine" alt="@product.Dettaglio" class="w-50 img-hover-zoom" /></td>
                        <td>@product.Dettaglio</td>
                        <td>@product.Categoria</td>
                        <td>@product.Prezzo.ToString("C")</td>
                        <td>@product.Descrizione</td>
                        <td>@product.Quantita</td>
                        <td>
                            <div class="icons">
                                <a asp-controller="Admin" asp-action="Edit" asp-route-id="@product.IdProdotto"><i
                                        class="bi bi-pencil-fill"></i></a>
                                <a asp-controller="Admin" asp-action="delete" asp-route-id="@product.IdProdotto"><i
                                        class="bi bi-trash-fill"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
}
</>