@model Details
@{
    ViewData["Title"] = "Dettagli";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<div class="container">
    <h3 class="text-center">Dettagli Carta</h3>
    <div class="container">
        <div class="row mt-2">
            <div class="col col-3">
                <img src="@Model.URLImmagine" class="w-100" />
            </div>
            <div class="col col-9 mt-5">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <h4>@Model.Dettaglio</h4>
                        <p>€ @Model.Prezzo.ToString("C") </p>
                    </div>
                    <p>@Model.Descrizione</p>
                    @if (Model.OutOfStock)
                    {
                        <p class="text-end" style="color: red; font-weight: bold;">Out of Stock</p>
                    } 
                    else
                    {
                        <p class="text-end">Disponibilità: @Model.Quantita pezzi</p>
                    }
                    <div class="d-flex justify-content-end">
                        <form asp-controller="Home" asp-action="AggiungiAlCarrello" method="post">
                            <input type="hidden" name="idProdotto" value="@Model.IdProdotto" />
                            <label for="quantita">Quantità:</label>
                            <input type="number" name="quantita" id="quantita" min="1" value="1" required class="form-control" />
                            <button type="submit" class="btn btn-primary mt-2">Aggiungi al Carrello</button>
                        </form>
                    </div>
                </div>
            </div>

            <h3>Altri Prodotti</h3>
            @if (ViewBag.ProductsList != null && ViewBag.ProductsList.Count > 0)
            {
                <div class="container justify-content-center">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 justify-content-evenly align-items-center mx-4 border border-dark pt-3">
                        @for (var i = 0; i < 8; i++)
                        {
                            var product = ViewBag.ProductsList[i];
                            <div class="text-center card mx-4 my-4 border-0 p-2">
                                <a asp-controller="Home" asp-action="Details" asp-route-id="@product.IdProdotto">
                                    <img src="@product.URLImmagine" class="card-img-top" alt="@product.Dettaglio">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">@product.Dettaglio</h5>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }

            
        </div>
    </div>
</div>
